header {
  display: flex;
  background-color: #141414;
  padding: 20px 30px;
  border-bottom: 1px solid #999999;
  justify-content: space-between;
  color: #fff;
  font-family: sans-serif;
}

.topo {
  display: flex;
}

#icone {
  width: 40px;
  height: 40px;
}

#logo {
  margin: 0 10px;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  align-self: center;
}
.user {
  display: flex;
  align-items: center;
}
.user h2{
  font-size: 16px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 1px #fff;
}

.button {
  text-decoration: none;
  text-align: center;
  background-color: #00F58E;
  color: #141414;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  max-height: 20px;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #008a50;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.hero {
  padding: 20px;
  height:80vh;
  background-color: #141414;
  color: #ffffff;
  font-family: sans-serif;
}
.conteinerHero {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 20px 0;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #414141;
}
.tituloHero{
  justify-content: center; /* Para centralizar horizontalmente */
  align-items: center; /* Para centralizar verticalmente */

}
.text {
  display: flex;
  flex-direction: column;
  width: 48%; /* Ajuste conforme necessário */
  justify-content: space-around; /* Para centralizar horizontalmente */
  margin: 0 0 0 30px;
}
.dentro {
  display: flex;
  align-items: center; /* Para centralizar verticalmente */
  justify-content: flex-start;
}
.dentro h3 {
  margin: 10px 0 0 0;
}

.dentro h2 {
  width: 100%;
}

#estrela {
  width: 18px;
  height: 18px;
  padding: 0 20px 10px 5px;
  margin: 16px 0 0 0;
}

#descricao {
  font-size: 18px;
  line-height: 1.6;
  width: 100%;
  /* padding: 10px 10px;
  border-radius: 8px;
  background-color: #282828; */
}

.imagem {
  display: flex;
  width: 48%; /* Ajuste conforme necessário */
  height: 100%;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

#game {
  width: 340px;
  height: 480px;
  border-radius: 10px;
  box-shadow: 0 0 100px -50px #fff;
}

.infosCima {
  display: flex;
  margin-top: 16px;
}
.infosCima h3 {
  background-color: #282828;
  padding: 5px 8px;
  margin: 0 10px 0 0;
  height: 18px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
  font-size: 16px;
}

.infosBaixo {
  display: flex;
  margin: 10px 0;
}
.infosBaixo h3 {
  background-color: #282828;
  padding: 5px 8px;
  margin: 0 10px 0 0;
  height: 18px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
  font-size: 16px;
}

.plataforma {
  display: flex;
}
.plataforma h3 {
  background-color: #282828;
  padding: 5px 8px;
  margin: 0 10px 0 0;
  height: 18px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
  font-size: 16px;
}

.classifica {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
}

.nota {
  margin: 20px 0 0 0;
}
.nota input {
  border: none;
  padding: 10px;
  border-radius: 8px;
  background-color: #282828;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.nota input:hover {
  background-color: #323232;
}
#nota { 
  position: absolute;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: #282828;;
  color: yellow;
  margin: 0 0 0 20px;
  font-size: 50px;
  font-weight: bold;
  width: 172px;
  height: 38px;
  transition: background-color 0.3s;
}
#nota:hover {
  background-color: #323232;
}

.comentario {
  width: 100%;
  height: 100%;
}
.comentario textarea {
  border: none;
  resize: none;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  background-color: #282828;
  color: #fff;
}
#comentario::placeholder {
  color: #bbbbbb;
}

.boxAnalises {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 32px;
}
.boxAnalises h2 {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.analise {
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: #282828;
}

footer {
  background-color: #00F58E;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}
