<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin</title>

  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/admin.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/admin.js"></script>

</head>

<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="bg-dark col-auto col-md-2 min-vh-100">
        <div class="bg-dark p-2">
          <a class="d-flex text-decoration-none align-items-center">
            <span class="fs-4 d-none d-sm-inline"> AdminMenu </span>
          </a>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link " href="#" aria-current="page" data-bs-toggle="collapse"
                data-bs-target="#submenu-jogos" onclick="toggleSubMenu('submenu-jogos')">Jogos</a>
              <ul id="submenu-jogos" class="nav nav-pills flex-column collapse pl-3">
                <li class="nav-item">
                  <a class="nav-link" href="#" onclick="showForm('cadastrar-jogo-form')">Cadastrar jogo</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-usuario"
                onclick="toggleSubMenu('submenu-usuario')">Usuário</a>
              <ul id="submenu-usuario" class="nav nav-pills flex-column collapse pl-3">
                <li class="nav-item">
                  <a class="nav-link" href="#">Pesquisar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/registro">Cadastrar</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-10">
        <!-- Seu conteúdo adicional aqui -->

        <!-- Adicione um formulário de registro e configure seu estilo inicialmente como oculto -->
        <div id="cadastrar-jogo-form" style="display: none;">
          <div class="login-box">
            <h2>Cadastrar</h2>
            <form method="post" action="/admin#">
              <input type="text" placeholder="Nome do jogo" name="nome" required><br>
              <input type="text" placeholder="classificacao" name="classificacao" required><br>
              <input type="number" placeholder="ano de lançamento " name="ano_lancamento" required><br>
              <input type="text" placeholder="genero" name="genero" required><br>
              <input type="text" placeholder="modo de jogo" name="modo_de_jogo" required><br>
              <input type="text" placeholder="plataforma" name="plataforma" required><br>
              <input type="text" placeholder="publicadoras" name="publicadoras" required><br>
              <input type="text" placeholder="dedscrição" name="descricao" required><br>
              <button type="submit">Confirmar</button>
            </form>
            <div class="mensagem-erro">
              {% if mensagem_erro %}
              <p>{{ mensagem_erro }}</p>
              {% endif %}
            </div>
            <div class="mensagem-sucesso">
              {% if mensagem_sucesso %}
              <p>{{ mensagem_sucesso }}</p>
              {% endif %}
            </div>
          </div>
        </div>






        <!-- Adicione a pesquisa -->
        <div id="pesquisaForm" style="display: none;">
          <form class="pesquisa" method="post" action="/admin">
            <label for="termo_pesquisa">Pesquisar jogo por nome:</label>
            <input type="text" name="termo_pesquisa" id="termo_pesquisa" required>
            <button type="submit" id="pesquisarBtn">Pesquisar</button>
          </form>
        </div>

        <!-- Adicione um ID ao elemento resultadosPesquisa -->
        <div id="resultadosPesquisa">
          {% if jogos %}
          <h3>Resultados da pesquisa para '{{ termo_pesquisa }}':</h3>
          <ul>
            {% for jogo in jogos %}
            <div class="cadaResultado">
              <h1>{{ jogo[1] }}</h1>
              <div class="editarExcluir">
                <button onclick="preencherFormularioEdicao('{{ jogo[0] }}', '{{ jogo[1] }}', '{{ jogo[2] }}', '{{ jogo[3] }}', '{{ jogo[4] }}', '{{ jogo[5] }}', '{{ jogo[6] }}', '{{ jogo[7] }}', '{{ jogo[8] }}')">Editar</button>
                <button>Excluir</button>
              </div>
            </div>  

            <div id="formularioEdicao" style="display: none;">
              <h2>Editar Jogo</h2>
              <form id="formEdicao" method="post" action="/admin">
                <input type="hidden" name="jogo_id" id="jogo_id_edicao">
                

                <label for="jogo_id_edicao">Id:</label>
                <input type="number" name="id" id="jogo_id_edicao" required>
            

                <label for="nome_edicao">Nome do Jogo:</label>
                <input type="text" name="nome" id="nome_edicao" required>
            
                <label for="classificacao_edicao">Classificação:</label>
                <input type="text" name="classificacao" id="classificacao_edicao" required>
            
                <label for="ano_lancamento_edicao">Ano de Lançamento:</label>
                <input type="number" name="ano_lancamento" id="ano_lancamento_edicao" required>
            
                <label for="genero_edicao">Gênero:</label>
                <input type="text" name="genero" id="genero_edicao" required>
                
                <label for="modo_de_jogo_edicao">Modo de Jogo:</label>
                <input type="text" name="modo_de_jogo" id="modo_de_jogo_edicao" required>
                
                <label for="plataforma_edicao">Plataforma:</label>
                <input type="text" name="plataforma" id="plataforma_edicao" required>
                
                <label for="publicadoras_edicao">Publicadoras:</label>
                <input type="text" name="publicadoras" id="publicadoras_edicao" required>
                
                <label for="descricao_edicao">Descrição:</label>
                <textarea name="descricao" id="descricao_edicao" rows="4" required></textarea>
                
                <button type="button" id="atualizarBtn" >Atualizar</button>
              </form>
            </div>
            


            {% endfor %}
          </ul>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
  </div>

  <!-- Seu script JavaScript existente -->
  <script src="/static/js/bootstrap.bundle.js"></script>
 
  <!-- <script>function preencherFormularioEdicao(id, nome, classificacao, ano_lancamento, genero, modo_de_jogo, plataforma, publicadoras, descricao) {
    // Atualizar os campos do formulário com os dados do jogo
    document.getElementById('jogo_id_edicao').value = id;
    document.getElementById('nome_edicao').value = nome;
    document.getElementById('classificacao_edicao').value = classificacao;
    document.getElementById('ano_lancamento_edicao').value = ano_lancamento;
    document.getElementById('genero_edicao').value = genero;
    document.getElementById('modo_de_jogo_edicao').value = modo_de_jogo;
    document.getElementById('plataforma_edicao').value = plataforma;
    document.getElementById('publicadoras_edicao').value = publicadoras;
    document.getElementById('descricao_edicao').value = descricao;
  
    // Exibir o formulário de edição
    document.getElementById('formularioEdicao').style.display = 'block';
  }</script> -->

</body>

</html>