<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/admin.css">
    <link rel="stylesheet" href="static/css/reset.css">
    <title>Admin</title>
   
</head>
<body>

    <div class="box">
      <form method="post" action="/login">
          <h2>Jogos</h2>
          <button type="pesquisar">Pesquisar</button>
          <button class="cadastrar">Cadastrar</button>
      </form>
    </div>
    <div class="box">
      <form method="post" action="/login">
          <h2>Usuarios</h2>
          <button type="pesquisar">Pesquisar</button>
          <button class="cadastrar">Cadastrar</button>
      </form>
    </div>

</body>
</html>
