<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalogo</title>

  <link rel="stylesheet" href="static/css/catalogo.css">
  <link rel="stylesheet" href="static/css/reset.css">

</head>
<body>
    <header>
        <a href="/">
          <div class="topo">
            <img id="icone" src="static/img/icon2.png" alt="icone">
              <h1 id="logo">Game Spotter</h1>
          </div>
        </a>
        {% if current_user.is_authenticated %}
          <div class="user">
            <h2>Olá, {{ current_user.nome }}</h2>
            <a class="button" href="/logout">Logout</a>
          </div>
        {% else %}
          <a class="button" href="/login">Login/Register</a>
        {% endif %}
    </header>
    <main>
        <h1 class="titulo">Catalogo de Jogos</h1>

        <form class="pesquisa" method="post" action="/catalogo">
            <label for="termo_pesquisa">Pesquisar jogo por nome:</label>
            <input type="text" name="termo_pesquisa" id="termo_pesquisa" required>
            <button type="submit">Pesquisar</button>
        </form>
        <div class="resultBox">
            {% if jogos %}
                <div class="resultados">
                    {% if termo_pesquisa != None %}
                      <h2>Resultados da pesquisa para '{{ termo_pesquisa }}':</h2>
                    {% endif %}
                    {% for jogo in jogos %}
                        <div class="jogo">
                            <a href="/jogo?id={{ jogo[0] }}">
                            <img src="static/img/jogos/{{ jogo[0] }}.jpg"></a>
                            <h3>{{ jogo[1] }}</h3>  <!-- jogo[1] representa o nome do jogo -->
                        </div>  
                    {% endfor %}
                </div>
                {% elif mensagem %}
                <p>{{ mensagem }}</p>
            {% endif %}
        </div>
    </main>
    <footer>                                            <!-- Rodapé -->
        <span>© 2023 GameSpotter Todos os direitos reservados.</span>
    </footer>
</body>
</html>