<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Spotter</title>

  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/index.css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  
</head>
<body class="superHero">
  <header>
    <a href="/">
      <div class="topo">
        <img id="icone" src="static/img/icon2.png" alt="icone">
          <h1 id="logo">Game Spotter</h1>
      </div>
    </a>
    {% if current_user.is_authenticated %}
      <div class="user">
        <h2>Olá, {{ current_user.nome }}</h2>
        <a class="button" href="/logout">Logout</a>
      </div>
    {% else %}
      <a class="button" href="/login">Login/Register</a>
    {% endif %}
  </header>

  <main>
    <div class="Hero">
      <div class="text">
        <div class="dentro">
          <h2>Game Spotter</h2>
          <p id="descricao">
            Bem-vindo ao GameSpotter, o seu destino definitivo para descobrir os melhores jogos! 
            Navegue por nosso catálogo abrangente e encontre as pérolas dos universos virtuais. 
            Com GameSpotter, você está sempre na trilha dos jogos mais emocionantes. Spot os melhores jogos, 
            sempre, e eleve sua experiência de gaming para novas alturas!
          </p>
          <a href="/catalogo" class="catalogo-btn">Catálogo</a>
        </div>
      </div>
      <div class="carousel">
          <img id="carrossel" src="static/img/carrossel.jpg" alt="carrossel">
      </div>
    </div>
</main>

<footer>                                            <!-- Rodapé -->
  <span>© 2023 GameSpotter Todos os direitos reservados.</span>
</footer>

</body>
</html>