<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Spotter</title>

  <link rel="stylesheet" href="static/reset.css">
  <link rel="stylesheet" href="static/index.css">

</head>
<body>

  <header>
    <div>
      <img id="icone" src="static/icon2.png" alt="icone">
      <h1 id="titulo">Game Spotter</h1>
    </div>
    <a id="button" href="/login">Login/Register</a>

  </header>

  <main class="hero">
  
    <div class="conteinerHero">
        <div class="text">
          <div class="dentro">
            <h2>Game Spotter</h2>
            <p id="descricao">
              Bem-vindo ao GameSpotter, o seu destino definitivo para descobrir os melhores jogos! 
              Navegue por nosso catálogo abrangente e encontre as pérolas dos universos virtuais. 
              Com GameSpotter, você está sempre na trilha dos jogos mais emocionantes. Spot os melhores jogos, 
              sempre, e eleve sua experiência de gaming para novas alturas!
            </p>
          </div>
        </div>
        <div class="carousel">
            <img id="carrossel" src="static/carrossel.jpg" alt="carrossel">
        </div>
    </div>
</main>

  <footer>                                            <!-- Rodapé -->
    <span>© 2023 GameSpotter Todos os direitos reservados.</span>
  </footer>

</body>
</html>