<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ jogo[1] }}</title>

  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/paginaJogo.css">
</head>
<body>

  <header>
    <a href="/">
      <div class="topo">
        <img id="icone" src="static/img/icon2.png" alt="icone">
          <h1 id="logo">Game Spotter</h1>
      </div>
    </a>
    {% if current_user.is_authenticated %}
      <div class="user">
        <h2>Olá, {{ current_user.nome }}</h2>
        <a class="button" href="/logout">Logout</a>
      </div>
    {% else %}
      <a class="button" href="/login">Login/Register</a>
    {% endif %}
  </header>

  <main class="hero">
    <div class="conteinerHero">
      <div class="text">
        <div>
          <h2>{{ jogo[1] }}</h2>
          <div class="dentro">
            {% if nota != 0 %}
              <h3>{{ nota }}</h3>
              <h3 id="estrela">
                {% if nota >= 1 and nota < 2 %}
                  &#9733; &#9734; &#9734; &#9734; &#9734;
                {% endif %}
                {% if nota >= 2 and nota < 3 %}
                  &#9733; &#9733; &#9734; &#9734; &#9734;
                {% endif %}
                {% if nota >= 3 and nota < 4 %}
                  &#9733; &#9733; &#9733; &#9734; &#9734;
                {% endif %}
                {% if nota >= 4 and nota < 5 %}
                  &#9733; &#9733; &#9733; &#9733; &#9734;
                {% endif %}
                {% if nota >= 5 %}
                  &#9733; &#9733; &#9733; &#9733; &#9733;
                {% endif %}
              </h3>
            {% endif %}
            <h3>Ano: {{ jogo[3] }}</h3>
          </div>
          <p id="descricao">
            {{ jogo[8] }}
          </p>
        </div>
        <div>
          <div class="infosCima">
            <h3>{{ jogo[4] }}</h3> 
            <h3>{{ jogo[2] }}</h3>
          </div>
          <div class="infosBaixo">
            <h3>Modo: {{ jogo[5] }}</h3>
            <h3>Publicadoras: {{ jogo[7] }}</h3>
          </div>
          <div class="plataforma">
            <h3>Plataformas: {{ jogo[6] }}</h3> 
          </div>
        </div>
      </div>
      <div class="imagem">
          <img id="game" src="{{ jogo[9] }}">
      </div>
    </div>
    {% if current_user.is_authenticated and menssagem%}
      <div class="classifica">
        <form action="/jogo?id={{ jogo[0] }}" method="post">
          <div class="nota">
            <input type="hidden" name="jogo_id" value="{{ jogo[0] }}">
            <input type="hidden" name="email" value="{{ current_user.id }}">
            <input type="submit" value="Avaliar">
            <select name="nota" id="nota">
                <option value="1">&#9733;</option>
                <option value="2">&#9733; &#9733;</option>
                <option value="3">&#9733; &#9733; &#9733;</option>
                <option value="4">&#9733; &#9733; &#9733; &#9733;</option>
                <option value="5" selected="selected">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
            </select>
          </div>
          <div class="comentario">
            <textarea name="comentario" id="comentario" 
              placeholder="Deixe aqui sua analise..." 
              rows="4" 
              cols="74"
              required
            ></textarea>
          </div>
        </form>
      </div>
    {% endif %}
    <div class="boxAnalises">
      {% if analises %}
        <h2>Análises de usuários</h2>
        {% for analise in analises %}
            <div class="analise">
              <h2>{{ analise[2] }}</h2>
              <h3 id="estrela_commit">
                {% if analise[0] >= 1 %}
                  &#9733;
                {% endif %}
                {% if analise[0] >= 2 %}
                  &#9733;
                {% endif %}
                {% if analise[0] >= 3 %}
                  &#9733;
                {% endif %}
                {% if analise[0] >= 4 %}
                  &#9733;
                {% endif %}
                {% if analise[0] >= 5 %}
                  &#9733;
                {% endif %}
              </h3>
              <p>{{ analise[1] }}</p>
            </div>  
        {% endfor %}
      {% else %}
          <h2>Jogo ainda sem nenhuma análise. Você pode ser o primeiro!</h2>
      {% endif %}
    </div>
</main>

<footer>                                            <!-- Rodapé -->
  <span>© 2023 GameSpotter Todos os direitos reservados.</span>
</footer>

</body>
</html>