<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ jogo[1] }}</title>

  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/paginaJogo.css">
</head>
<body>

  <header>
    <a href="/">
      <div class="topo">
        <img id="icone" src="static/img/icon2.png" alt="icone">
          <h1 id="logo">Game Spotter</h1>
      </div>
    </a>
    {% if current_user.is_authenticated %}
      <p>Bem-vindo, {{ current_user.id }}!</p>
      <a class="button" href="/logout">Logout</a>
    {% else %}
      <a class="button" href="/login">Login/Register</a>
    {% endif %}
  </header>

  <main class="hero">
    <div class="conteinerHero">
        <div class="text">
          <h2>{{ jogo[1] }}</h2>
          <div class="dentro">
            <h3>{{ jogo[8] }}</h3> 
            <img id="estrela" src="static/img/estrela.png" alt="Estrela">
            <h3>Ano: {{ jogo[3] }}</h3>
          </div>
          <p id="descricao">
            Lorem IpsumLorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of 
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <div class="infosCima">
            <h3>{{ jogo[4] }}</h3> 
            <h3>{{ jogo[2] }}</h3>
          </div>
          <div class="infosBaixo">
            <h3>Modo: {{ jogo[5] }}</h3>
            <h3>Publicadoras: {{ jogo[7] }}</h3>
          </div>
          <div class="plataforma">
            <h3>Plataformas: {{ jogo[6] }}</h3> 
          </div>
           
          <div class="classifica">
            <div class="nota">
              <form action="/avaliar" method="post">
                <input type="hidden" name="jogo_id" value="{{ jogo[0] }}">
                <input type="submit" value="Avaliar">
                <select name="nota" id="nota">
                    <option value="1">*</option>
                    <option value="2">* *</option>
                    <option value="3">* * *</option>
                    <option value="4">* * * *</option>
                    <option value="5" selected="selected">* * * * *</option>
                </select>
              </form>
            </div>
            <div class="comentario">
              
            </div>
          </div>
        </div>
        <div class="jogo">
            <img id="game" src="static/img/jogos/{{ jogo[0] }}.jpg">
        </div>
    </div>
</main>

  <footer>                                            <!-- Rodapé -->
    <span>© 2023 GameSpotter Todos os direitos reservados.</span>
  </footer>

</body>
</html>