<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Resgistre</title>

    <link rel="stylesheet" href="static/css/registro.css">

</head>

<body>
    <div class="login-box">
        <h2>Registro</h2>
        <form method="post" action="/registro">
            <input type="text" placeholder="Nome Completo" name="nome" required>
            <br>
            <input type="text" placeholder="Email" name="email" required>
            <br>
            <input type="password" placeholder="Senha" name="senha" required>
            <br>
            <input type="password" placeholder="Confirmar Senha" name="confirmarSenha" required>
            <br>
            <button type="submit">Confirmar</button>
        </form>
    </div>
    <div class="mensagem-erro">
        {% if mensagem_erro %}
            <p>{{ mensagem_erro }}</p>
        {% endif %}
    </div>

    <div class="mensagem-sucesso">
        {% if mensagem_sucesso %}
            <p>{{ mensagem_sucesso }}</p>
        {% endif %}
    </div>
</body>
</html>